{{ if .Values.global.defaultResources.enabled }}
---
apiVersion: openchoreo.dev/v1alpha1
kind: ComponentType
metadata:
  name: scheduled-task
  namespace: default
  labels:
    {{- include "openchoreo-control-plane.labels" . | nindent 4 }}
spec:
  workloadType: cronjob

  allowedWorkflows:
    - google-cloud-buildpacks
    - docker

  schema:
    types:
      ResourceRequirements:
        requests: "ResourceQuantity | default={}"
        limits: "ResourceQuantity | default={}"
      ResourceQuantity:
        cpu: "string | default=100m"
        memory: "string | default=128Mi"

    parameters:
      successfulJobsHistoryLimit: "integer | default=3"
      failedJobsHistoryLimit: "integer | default=1"
      concurrencyPolicy: "string | default=Forbid"
      backoffLimit: "integer | default=3"
      activeDeadlineSeconds: "integer | default=300"
      restartPolicy: "string | default=OnFailure"
      imagePullPolicy: "string | default=IfNotPresent"
      containerName: "string | default=main"

    envOverrides:
      schedule: 'string | default="0 0 31 2 *"' # will never execute
      resources: "ResourceRequirements | default={}"

  resources:
    - id: cronjob
      template:
        apiVersion: batch/v1
        kind: CronJob
        metadata:
          name: ${metadata.name}
          namespace: ${metadata.namespace}
          labels: ${metadata.labels}
        spec:
          schedule: ${parameters.schedule}
          successfulJobsHistoryLimit: ${parameters.successfulJobsHistoryLimit}
          failedJobsHistoryLimit: ${parameters.failedJobsHistoryLimit}
          concurrencyPolicy: ${parameters.concurrencyPolicy}
          jobTemplate:
            metadata:
              labels: ${metadata.labels}
            spec:
              backoffLimit: ${parameters.backoffLimit}
              activeDeadlineSeconds: ${parameters.activeDeadlineSeconds}
              template:
                metadata:
                  labels: ${metadata.podSelectors}
                spec:
                  restartPolicy: ${parameters.restartPolicy}
                  containers:
                    - name: ${parameters.containerName}
                      image: ${workload.containers[parameters.containerName].image}
                      imagePullPolicy: ${parameters.imagePullPolicy}
                      command: |
                        ${has(workload.containers[parameters.containerName].command) ? workload.containers[parameters.containerName].command : oc_omit()}
                      args: |
                        ${has(workload.containers[parameters.containerName].args) ? workload.containers[parameters.containerName].args : oc_omit()}
                      resources:
                        requests:
                          cpu: ${parameters.resources.requests.cpu}
                          memory: ${parameters.resources.requests.memory}
                        limits:
                          cpu: ${parameters.resources.limits.cpu}
                          memory: ${parameters.resources.limits.memory}
                      envFrom: |
                        ${(has(configurations[parameters.containerName].configs.envs) && configurations[parameters.containerName].configs.envs.size() > 0 ?
                          [{
                            "configMapRef": {
                              "name": oc_generate_name(metadata.name, "env-configs")
                            }
                          }] : []) +
                         (has(configurations[parameters.containerName].secrets.envs) && configurations[parameters.containerName].secrets.envs.size() > 0 ?
                          [{
                            "secretRef": {
                              "name": oc_generate_name(metadata.name, "env-secrets")
                            }
                          }] : [])}
                      volumeMounts: |
                        ${has(configurations[parameters.containerName].configs.files) && configurations[parameters.containerName].configs.files.size() > 0 || has(configurations[parameters.containerName].secrets.files) && configurations[parameters.containerName].secrets.files.size() > 0 ?
                          (has(configurations[parameters.containerName].configs.files) && configurations[parameters.containerName].configs.files.size() > 0 ?
                            configurations[parameters.containerName].configs.files.map(f, {
                              "name": "file-mount-"+oc_hash(f.mountPath+"/"+f.name),
                              "mountPath": f.mountPath+"/"+f.name ,
                              "subPath": f.name
                            }) : []) +
                           (has(configurations[parameters.containerName].secrets.files) && configurations[parameters.containerName].secrets.files.size() > 0 ?
                            configurations[parameters.containerName].secrets.files.map(f, {
                              "name": "file-mount-"+oc_hash(f.mountPath+"/"+f.name),
                              "mountPath": f.mountPath+"/"+f.name,
                              "subPath": f.name
                            }) : [])
                        : oc_omit()}
                  volumes: |
                    ${has(configurations[parameters.containerName].configs.files) && configurations[parameters.containerName].configs.files.size() > 0 || has(configurations[parameters.containerName].secrets.files) && configurations[parameters.containerName].secrets.files.size() > 0 ?
                      (has(configurations[parameters.containerName].configs.files) && configurations[parameters.containerName].configs.files.size() > 0 ?
                        configurations[parameters.containerName].configs.files.map(f, {
                          "name": "file-mount-"+oc_hash(f.mountPath+"/"+f.name),
                          "configMap": {
                            "name": oc_generate_name(metadata.name, "config", f.name).replace(".", "-")
                          }
                        }) : []) +
                       (has(configurations[parameters.containerName].secrets.files) && configurations[parameters.containerName].secrets.files.size() > 0 ?
                        configurations[parameters.containerName].secrets.files.map(f, {
                          "name": "file-mount-"+oc_hash(f.mountPath+"/"+f.name),
                          "secret": {
                            "secretName": oc_generate_name(metadata.name, "secret", f.name).replace(".", "-")
                          }
                        }) : [])
                    : oc_omit()}

    - id: env-config
      includeWhen: ${has(configurations[parameters.containerName].configs.envs) && configurations[parameters.containerName].configs.envs.size() > 0}
      template:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: ${oc_generate_name(metadata.name, "env-configs")}
          namespace: ${metadata.namespace}
        data: |
          ${has(configurations[parameters.containerName].configs.envs) ? configurations[parameters.containerName].configs.envs.transformMapEntry(index, env, {env.name: env.value}) : oc_omit()}
    - id: file-config
      includeWhen: ${has(configurations[parameters.containerName].configs.files) && configurations[parameters.containerName].configs.files.size() > 0}
      forEach: ${configurations[parameters.containerName].configs.files}
      var: config
      template:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: ${oc_generate_name(metadata.name, "config", config.name).replace(".", "-")}
          namespace: ${metadata.namespace}
        data:
          ${config.name}: |
            ${config.value}
    - id: secret-env-external
      includeWhen: ${has(configurations[parameters.containerName].secrets.envs) && configurations[parameters.containerName].secrets.envs.size() > 0}
      template:
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        metadata:
          name: ${oc_generate_name(metadata.name, "env-secrets")}
          namespace: ${metadata.namespace}
        spec:
          refreshInterval: 15s
          secretStoreRef:
            name: ${dataplane.secretStore}
            kind: ClusterSecretStore
          target:
            name: ${oc_generate_name(metadata.name, "env-secrets")}
            creationPolicy: Owner
          data: |
            ${has(configurations[parameters.containerName].secrets.envs) ? configurations[parameters.containerName].secrets.envs.map(secret, {
              "secretKey": secret.name,
              "remoteRef": {
                "key": secret.remoteRef.key,
                "property": has(secret.remoteRef.property) ? secret.remoteRef.property: oc_omit()
              }
            }) : oc_omit()}
    - id: secret-file-external
      includeWhen: ${has(configurations[parameters.containerName].secrets.files) && configurations[parameters.containerName].secrets.files.size() > 0}
      forEach: ${configurations[parameters.containerName].secrets.files}
      var: file
      template:
        apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        metadata:
          name:  ${oc_generate_name(metadata.name, "secret", file.name).replace(".", "-")}
          namespace: ${metadata.namespace}
        spec:
          refreshInterval: 15s
          secretStoreRef:
            name: ${dataplane.secretStore}
            kind: ClusterSecretStore
          target:
            name:  ${oc_generate_name(metadata.name, "secret", file.name).replace(".", "-")}
            creationPolicy: Owner
          data:
            - secretKey: ${file.name}
              remoteRef:
                key: ${file.remoteRef.key}
                property: |
                  ${has(file.remoteRef.property) ? file.remoteRef.property : oc_omit()}
{{ end }}
