{{- if .Values.openbao.enabled }}
{{- $secretStore := .Values.openbao.secretStore | default dict }}
{{- $auth := $secretStore.auth | default dict }}
{{- $kubernetes := $auth.kubernetes | default dict }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ $secretStore.name | default "openbao" }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
  labels:
    {{- include "openchoreo-build-plane.labels" . | nindent 4 }}
spec:
  provider:
    vault:
      server: "http://openbao.{{ .Release.Namespace }}.svc:8200"
      path: {{ $secretStore.path | default "secret" | quote }}
      version: {{ $secretStore.version | default "v2" | quote }}
      auth:
        kubernetes:
          mountPath: {{ $kubernetes.mountPath | default "kubernetes" | quote }}
          role: {{ $kubernetes.role | default "openchoreo-secret-writer-role" | quote }}
          serviceAccountRef:
            name: {{ $kubernetes.serviceAccountName | default "external-secrets-openbao" | quote }}
            namespace: {{ $kubernetes.serviceAccountNamespace | default .Release.Namespace | quote }}
{{- end }}
