{{- if or (index .Values "gateway" "envoy" "enabled") (index .Values "gateway" "kgateway" "enabled") }}
{{- if .Capabilities.APIVersions.Has "cert-manager.io/v1" }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: openchoreo-selfsigned-issuer
  labels:
    {{- include "openchoreo-data-plane.componentLabels" (dict "context" . "component" "gateway") | nindent 4 }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "1"
spec:
  selfSigned: {}
{{- end }}
{{- end }}
