{{- if .Values.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: gateway-default
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-data-plane.componentLabels" (dict "context" . "component" "gateway") | nindent 4 }}
  {{- if .Values.gateway.tls.clusterIssuer }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.gateway.tls.clusterIssuer }}
  {{- end }}
spec:
  gatewayClassName: {{ .Values.gateway.gatewayClassName | default "kgateway" }}
  {{- with .Values.gateway.infrastructure }}
  infrastructure:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  listeners:
    - name: http
      protocol: HTTP
      port: {{ .Values.gateway.httpPort | default 80 }}
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: {{ .Values.gateway.httpsPort | default 443 }}
      hostname: {{ .Values.gateway.tls.hostname | default "*.openchoreoapis.localhost" | quote }}
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: {{ .Values.gateway.tls.certName }}
            namespace: {{ .Release.Namespace }}
{{- end }}
