{{- if .Values.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: gateway-default
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-data-plane.componentLabels" (dict "context" . "component" "gateway") | nindent 4 }}
spec:
  gatewayClassName: kgateway
  listeners:
    - name: http
      protocol: HTTP
      port: {{ .Values.gateway.httpPort | default 80 }}
      allowedRoutes:
        namespaces:
          from: All
{{- end }}
