# Helm values for OpenChoreo Control Plane in k3d single-cluster setup

openchoreoApi:
  http:
    hostnames:
    - api.openchoreo.localhost
  config:
    server:
      publicUrl: "http://api.openchoreo.localhost:8080"

backstage:
  secretName: backstage-secrets
  baseUrl: "http://openchoreo.localhost:8080"
  http:
    hostnames:
    - openchoreo.localhost

security:
  oidc:
    issuer: "http://thunder.openchoreo.localhost:8080"
    jwksUrl: "http://thunder.openchoreo.localhost:8080/oauth2/jwks"
    authorizationUrl: "http://thunder.openchoreo.localhost:8080/oauth2/authorize"
    tokenUrl: "http://thunder.openchoreo.localhost:8080/oauth2/token"

thunder:
  host: thunder.openchoreo.localhost

gateway:
  tls:
    enabled: false
