# Helm values for OpenChoreo Build Plane in k3d single-cluster setup
# This file contains overrides specific to running the build plane in a k3d environment

argo-workflows:
  server:
    # Argo Workflows UI is enabled for testing/development purposes
    enabled: true
    serviceType: LoadBalancer
    servicePort: 10081
    authModes:
      - server

openbao:
  server:
    dev:
      enabled: true
