# Helm values for OpenChoreo Build Plane in k3d single-cluster setup
# This file contains overrides specific to running the build plane in a k3d environment

argo-workflows:
  server:
    # Argo Workflows UI is enabled for testing/development purposes
    enabled: true
    serviceType: LoadBalancer
    servicePort: 2746
    authModes:
      - server

global:
  defaultResources:
    registry:
      host: "host.k3d.internal:10082"
    buildpackCache:
      enabled: true

openbao:
  server:
    dev:
      enabled: true
