# Helm values for OpenChoreo Observability Plane in quick-start container. This file overrides the default
# values of the openchoreo-observability-plane Helm chart to suit the quick-start k3d environment.

# Global values shared across all components
global:
  commonLabels: {}
  installationMode: quickStart

fluent-bit:
  enabled: true

opentelemetry-collector:
  enabled: false

openSearch:
  enabled: true


# OpenSearch cluster configuration
openSearchCluster:
  enabled: false


# OpenChoreo Observer Service Configuration
observer:
  openSearchSecretName: observer-opensearch-credentials
  extraEnvs:
    - name: OPENSEARCH_ADDRESS
      value: "https://opensearch:9200"
    - name: PROMETHEUS_ADDRESS
      value: "http://openchoreo-observability-prometheus:9091"
    - name: PROMETHEUS_TIMEOUT
      value: "30s"
  resources:
    limits:
      cpu: 50m
      memory: 40Mi
    requests:
      cpu: 20m
      memory: 20Mi

# Cluster Agent configuration for single-cluster setup
clusterAgent:
  serverUrl: wss://cluster-gateway.openchoreo-control-plane.svc.cluster.local:8443/ws
  planeID: default-observabilityplane
  planeType: observabilityplane

# Gateway configuration for quick-start
gateway:
  tls:
    enabled: false

security:
  enabled: false
  oidc:
    jwksUrl: "http://thunder-service.openchoreo-control-plane.svc.cluster.local:8090/oauth2/jwks"
