# Helm values for OpenChoreo Observability Plane in quick-start container. This file overrides the default
# values of the openchoreo-observability-plane Helm chart to suit the quick-start k3d environment.

# Global values shared across all components
global:
  commonLabels: {}
  installationMode: quickStart

opensearch-operator:
  enabled: false

opentelemetry-collector:
  enabled: false

openSearch:
  enabled: true


# OpenSearch cluster configuration
openSearchCluster:
  enabled: false


# OpenChoreo Observer Service Configuration
observer:
  resources:
    limits:
      cpu: 50m
      memory: 40Mi
    requests:
      cpu: 20m
      memory: 20Mi

