gateway:
  enabled: true
  config:
    envoyGateway:
      gateway:
        httpPort: 8080
        httpsPort: 8443

vault:
  enabled: false

secrets-store-csi-driver:
  enabled: false

registry:
  enabled: false

cert-manager:
  enabled: false
  crds:
    enabled: false

external-secrets:
  enabled: false

networking:
  enabled: false

security:
  enabled: false

observability:
  enabled: false

