apiVersion: openchoreo.dev/v1alpha1
kind: DeploymentPipeline
metadata:
  name: default
  namespace: default
  annotations:
    openchoreo.dev/display-name: Default Pipeline
    openchoreo.dev/description: Standard deployment pipeline with dev, staging, and prod environments
  labels:
    openchoreo.dev/name: default
spec:
  promotionPaths:
    - sourceEnvironmentRef: development
      targetEnvironmentRefs:
        - name: staging
          requiresApproval: false
    - sourceEnvironmentRef: staging
      targetEnvironmentRefs:
        - name: production
          requiresApproval: false
