{{- if .Values.openchoreoApi.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openchoreo-control-plane.openchoreoApi.name" . }}-
  
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-control-plane.labels" . | nindent 4 }}
    app.kubernetes.io/component: api-server
data:
  config.yaml: |
    security:
      user_types:
        {{- toYaml .Values.openchoreoApi.security.userTypes | nindent 8 }}
{{- end }}
