{{- if and .Values.openchoreoApi.enabled .Values.security.authz.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openchoreo-control-plane.openchoreoApi.name" . }}-default-roles-mappings
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-control-plane.labels" . | nindent 4 }}
    app.kubernetes.io/component: api-server
data:
  default-roles-mappings.yaml: |
    # Default roles
    roles:
      {{- toYaml .Values.security.authz.defaultRoles | nindent 6 }}

    # Default entitlement-to-role mappings
    mappings:
      {{- toYaml .Values.security.authz.defaultRoleMappings | nindent 6 }}
{{- end }}
