{{- if .Values.clusterAgent.enabled }}
{{- if .Values.clusterAgent.tls.serverCAValue }}
---
# ConfigMap created from inline server CA certificate value (multi-cluster setup)
# This ConfigMap contains the cluster-gateway server CA certificate
# Used by agent to verify the gateway server during mTLS connection
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.clusterAgent.tls.serverCAConfigMap }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openchoreo-build-plane.labels" . | nindent 4 }}
    app.kubernetes.io/component: cluster-agent
    openchoreo.dev/created-from: inline-value
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-5"
    helm.sh/hook-delete-policy: before-hook-creation
data:
  ca.crt: {{ .Values.clusterAgent.tls.serverCAValue | quote }}
{{- end }}
{{- end }}
