{{- if .Values.global.defaultResources.enabled }}
{{- if not (lookup "openchoreo.dev/v1alpha1" "Project" "default" "default") }}
apiVersion: openchoreo.dev/v1alpha1
kind: Project
metadata:
  name: default
  namespace: default
  annotations:
    openchoreo.dev/display-name: {{ .Values.global.defaultResources.project.displayName }}
    openchoreo.dev/description: {{ .Values.global.defaultResources.project.description }}
    "helm.sh/hook": post-install, post-upgrade
    "helm.sh/hook-weight": "7"
    "helm.sh/hook-delete-policy": hook-failed
  labels:
    openchoreo.dev/name: default
spec:
  deploymentPipelineRef: default
{{- end }}
{{- end }}
