{{- if index .Values "api-platform" "enabled" }}
apiVersion: api.api-platform.wso2.com/v1
kind: GatewayConfiguration
metadata:
  name: api-platform-default
spec:
  gatewayClassName: "production"

  apiSelector:
    scope: Cluster

  infrastructure:
    replicas: 1
    resources:
      requests:
        cpu: "500m"
        memory: "1Gi"
      limits:
        cpu: "2"
        memory: "4Gi"
        
  storage:
    type: sqlite
{{- end }}
