apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: openchoreo-op
image: rancher/k3s:v1.32.9-k3s1
servers: 1
agents: 0
kubeAPI:
  hostPort: "6553"
# Observability Plane uses port range 11xxx
ports:
  # OpenSearch Dashboard
  - port: 11081:5601
    nodeFilters:
      - loadbalancer
  # OpenSearch API for Fluent Bit data pushing
  - port: 11082:9200
    nodeFilters:
      - loadbalancer
  # Prometheus
  - port: 11083:8081
    nodeFilters:
      - loadbalancer
  - port: 11084:9091
    nodeFilters:
      - loadbalancer
  # KGateway TLS
  - port: 11085:11085
    nodeFilters:
      - loadbalancer
  # OpenTelemetry Collector
  - port: 11086:4317
    nodeFilters:
      - loadbalancer
  # KGateway HTTP
  - port: 11087:11087
    nodeFilters:
      - loadbalancer
    
options:
  k3s:
    extraArgs:
      # Disable Traefik ingress controller
      - arg: "--disable=traefik"
        nodeFilters:
          - server:*
