# Helm values for OpenChoreo Data Plane in k3d multi-cluster setup

clusterAgent:
  serverUrl: "wss://cluster-gateway.openchoreo.localhost:8443/ws"
  tls:
    generateCerts: true
    caSecretName: ""

gateway:
  httpPort: 19080
  httpsPort: 19443
  tls:
    enabled: false

fluent-bit:
  enabled: true
  envFrom: []
  env:
    - name: OPENSEARCH_HOST
      value: host.k3d.internal
    - name: OPENSEARCH_USER
      value: admin
    - name: OPENSEARCH_PASSWORD
      value: ThisIsTheOpenSearchPassword1
  config:
    outputs: |
      [OUTPUT]
          Name opensearch
          Host ${OPENSEARCH_HOST}
          Generate_ID On
          HTTP_User ${OPENSEARCH_USER}
          HTTP_Passwd ${OPENSEARCH_PASSWORD}
          Logstash_Format On
          Logstash_DateFormat %Y-%m-%d
          Logstash_Prefix container-logs
          Match kube.*
          Port 11082
          Replace_Dots On
          Suppress_Type_Name On
          tls On
          tls.verify Off

kube-prometheus-stack:
  enabled: true
  prometheus:
    prometheusSpec:
      remoteWrite:
      - url: "http://host.k3d.internal:11084/api/v1/write"

observability:
  observabilityPlaneUrl: "http://host.k3d.internal:11086"
