# Helm values for OpenChoreo Build Plane in k3d multi-cluster setup

clusterAgent:
  serverUrl: "wss://cluster-gateway.openchoreo.localhost:8443/ws"
  tls:
    generateCerts: true
    caSecretName: ""

argo-workflows:
  server:
    enabled: true
    serviceType: LoadBalancer
    servicePort: 10081
    authModes:
      - server

defaultResources:
  enabled: true
  registry:
    host: "host.k3d.internal:10082"

fluent-bit:
  enabled: true
  envFrom: []
  env:
    - name: OPENSEARCH_HOST
      value: host.k3d.internal
    - name: OPENSEARCH_USER
      value: admin
    - name: OPENSEARCH_PASSWORD
      value: ThisIsTheOpenSearchPassword1
  config:
    outputs: |
      [OUTPUT]
          Name opensearch
          Host ${OPENSEARCH_HOST}
          Generate_ID On
          HTTP_User ${OPENSEARCH_USER}
          HTTP_Passwd ${OPENSEARCH_PASSWORD}
          Logstash_Format On
          Logstash_DateFormat %Y-%m-%d
          Logstash_Prefix container-logs
          Match kube.*
          Port 11082
          Replace_Dots On
          Suppress_Type_Name On
          tls On
          tls.verify Off

openbao:
  server:
    dev:
      enabled: true
