{{- if .Values.tls.enabled }}
{{- $dnsNames := .Values.tls.dnsNames -}}
{{- if not $dnsNames -}}
{{- fail "Set tls.dnsNames when tls.enabled=true" -}}
{{- end -}}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: openchoreo-observability-plane-ca
  namespace: {{ .Release.Namespace }}
spec:
  isCA: true
  commonName: "OpenChoreo Observability Plane CA"
  subject:
    organizations:
      - OpenChoreo
  secretName: openchoreo-observability-plane-ca
  duration: 87600h # 10 years
  renewBefore: 720h # 30 days
  privateKey:
    algorithm: RSA
    size: 4096
  issuerRef:
    name: self-signed-issuer
    kind: Issuer
    group: cert-manager.io

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: openchoreo-observability-plane-wildcard
  namespace: {{ .Release.Namespace }}
spec:
  secretName: openchoreo-observability-plane-wildcard
  issuerRef:
    name: openchoreo-observability-plane-ca-issuer
    kind: Issuer
  dnsNames:
  {{- range $dnsName := $dnsNames }}
  - {{ $dnsName | quote }}
  {{- end }}
{{- end }}
