name: Lint PR

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

# IMPORTANT: pull_request_target runs with base branch context and has access to secrets.
# Permissions should be used with extreme caution.
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
permissions: {}

jobs:
  validate-pr-title:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            build
            chore
            ci
            docs
            style
            refactor
            perf
            test
            revert
          scopes: |
            api
            controller
            cli
            helm
            deps
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject must start with a lowercase letter, got: "{subject}".
            Example: "feat(api): add user endpoint"

  # TODO: Remove this job once we move for squash-only merge
  # with "Default to PR title for squash merge commits" enabled.
  validate-commits:
    name: Validate commit messages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@f133a0d95090ef2609192b4a21f54e20af819ea9 # v6
        with:
          configFile: .github/commitlint.config.mjs
