
{{- if or (.Values.openSearch.enabled) (.Values.openSearchCluster.enabled) }}
apiVersion: batch/v1
kind: Job
metadata:
  name: opensearch-cluster-setup
  namespace: {{.Release.Namespace}}
  annotations:
    helm.sh/hook: post-install, post-upgrade
spec:
  template:
    spec:
      automountServiceAccountToken: false
      containers:
      - name: cluster-setup
        env:
        - name: OPENSEARCH_ADDRESS
          value: "https://opensearch:9200"
        - name: OPENSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.observer.openSearchSecretName }}
              key: username
        - name: OPENSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.observer.openSearchSecretName }}
              key: password
        - name: OBSERVER_ALERTING_WEBHOOK_URL
          value: "{{ .Values.openSearchClusterSetup.alertingWebhookUrl }}"
        - name: CONTAINER_LOGS_MIN_INDEX_AGE
          value: "{{ .Values.openSearchClusterSetup.dataRetentionTime.containerLogs }}"
        - name: OTEL_TRACES_MIN_INDEX_AGE
          value: "{{ .Values.openSearchClusterSetup.dataRetentionTime.traces }}"
        - name: RCA_REPORTS_MIN_INDEX_AGE
          value: "{{ .Values.openSearchClusterSetup.dataRetentionTime.rcaReports }}"
        image: "{{ .Values.openSearchClusterSetup.image.repository }}:{{ .Values.openSearchClusterSetup.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.openSearchClusterSetup.image.pullPolicy | default "IfNotPresent" }}
        resources:
          requests:
            memory: "50Mi"
            cpu: "50m"
          limits:
            memory: "75Mi"
            cpu: "75m"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
          readOnlyRootFilesystem: true
          runAsGroup: 10500
          runAsUser: 10500

      restartPolicy: OnFailure
      securityContext:
        seccompProfile:
          type: RuntimeDefault
{{- end }}
